*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(206, 182, 210);
    font-family: Arial, Helvetica, sans-serif;
}
.user-card{
    width: 300px;
    padding: 20px;
    margin: 50px;
    background-color: rgb(239, 232, 232);
    border-radius: 10px;
}
.user-card>h3{
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-card>p{
    margin: 8px 0;
    line-height: 2;
}
.user-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
@media (max-width: 600px) {
    .user-card {
        width: 90%;
    }
}